@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #363187 1.84%, #175f34 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #363187 -13.86%, #175f34 99.55%);
  
  --color-bg: #e6e5d9ea;
  --color-footer : #181c65;
  --color-blog: #042c54;
  --color-text: #072544;
  --color-subtext: #000000;
}